@font-face {
    font-family: AvenirNext;
    src: url(AvenirNext-Regular.ttf);
    font-weight:400;
}

@font-face {
    font-family: AvenirNext;
    src: url(AvenirNext-Bold.ttf);
    font-weight:800;
}
