nav {
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.header{
    font-size: 30px;
    color: #FFF;
    margin: 10px 0 10px 0;
}

.App{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}