.banner{
    display: flex;
    height: 40vh;
}

.slide{
    width: 70%;
    background-color: #FFC300;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls{
    background-color: #232020;
    width: 30%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: scroll;
}

